<%if(locals.user){%>

    <div id="chat-box">
       <ul id="chat-message-list">
            <li class="other-message">
                hi,how are you?
            </li>
            <li class="self-message">
                hello,i'm fine.
            </li>
       </ul>
    
        <form action="" method="post" id="chat-input-container">
            <input type="text" name="chat_text" id="" placeholder="Type message here...">
            <input type="button" value="Send">
        </form>
        
    </div>    
    
<%}%>