<div id="chat-box">
    <div id="chat-text">
        <p>hi</p>
        <p>hello</p>
    </div>
    <div id="chat-input-send">
        <input type="text" name="chat_text" id="">
        <input type="button" value="Send">
    </div>
    
</div>