#home-container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:space-between;

    #welcome{
        width:30%;
        // padding:10px;
          border:1px solid rgb(14, 11, 11);
    }
    #feed-posts{
        width:58%;
        padding:10px;
        border:1px solid rgb(14, 11, 11);
        fieldset{
            width:70%;
        } 
      
        // border-left:1px solid lightgray;
    }

    #friends-and-users{
        border:1px solid rgb(14, 11, 11);
        width:30%;
        height:100%;
        padding:10px;//so it stay some far away from border
        // border:1px solid lightgray;

        display:flex;
        flex-direction: column;
       
    }
}