//mainly table use so view in small and large screen good or your choice // find out how to make email look better
<div>
    <p>hi <%=comment.user.name%>, you comment is published on social media project</p>
    <br>
    <br>
    <p>comment <strong><%= comment.content%> just got published</strong></p>
    <br>
    <br>
    <p>Thanks,for using our application</p><!-- sign out email/ -->
</div> 
