/*  home */
#home-container {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: space-between; }
/* welcome section */
#welcome{
  width:30%;
  height:100%;
  /* padding:10px; */
  border-right:1px solid lightgray;
  display:flex;
  flex-direction: column;
/* justify-content: space-evenly; */
  align-items: center;
}
#welcome-note{
  width:100%;
  height:50%;
  border: 1px dotted black;
  
}

#chat-box{
  width:30%;
  height:50%;
  border: 1px dotted black;
  display:flex;
  flex-direction: column;
justify-content: space-between;
position: fixed;
top:50%;
left: 0;
background-color: aqua;
  
}
/* feed posts section */
  #feed-posts {
    width: 70%;
    padding: 10px;
    border-right: 1px solid lightgray; 
    display:flex;
    flex-direction: column;
    align-items: center;

  
  }


   #feed-posts fieldset {
      width: 70%; }

/* friends and users section */
  #friends-and-users{
    width: 30%;
    padding: 10px;
    height: 100%; 
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
  }
  #friends{
    height: 50%;
  }#friends h4{
   text-align:center;
    margin-bottom: 10px;
  }
  #users{
    height: 50%;
  }#users h4{
    text-align:center;
    margin-bottom: 10px;
  }

  
      
